@menu-height: 50px;

.application-body{
	&.has-nav-fixed-top{
		margin-top: @menu-height;
	}
	&.has-nav-fixed-bottom{
		margin-top: @menu-height;
	}
	width: 100%;
	.log-area{
		display: none;
		clear: both;
		width: 100%;
		&.log-visible{
			display: block;
		}
	}
}